* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    scroll-behavior: smooth;
    font-family: 'Noto Sans', sans-serif;
}
:root {
    --blue: #1376B9;
    --yellow: #FEC64A;
}
header {
    background-image: url("../images/Artboard\ –\ 2.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center center;
    height: 100vh;
    background-attachment: fixed;
}
@media (max-width: 676px) {
    header {
        background-image: url("../images/Artboard\ –\ 22.png");
    }
}
.navbar-collapse { 
    justify-content: center;
}
.navbar-light .navbar-toggler {
    border-color: whitesmoke;
    outline: none;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-nav{
    list-style: none;
    padding: 0 15px 0;
    border-bottom: 1px solid white;
}
.navbar-light .navbar-nav .nav-link {
    text-decoration: none;
    color: white;
    transition: 0.2s;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: var(--yellow);
}
.navbar-light .navbar-nav .nav-link.active {
    color: var(--yellow);
}
@media (min-width: 992px) {
    .navbar-light .navbar-nav .nav-link.active {
        padding-left: 50px;
        font-style: italic;
    }
    .navbar-nav {
        margin-left: 137px;
    }
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    }
}
.intro {
    margin-top: 120px;
    font-size: 30px;
    color: white;
    border-left: 2px solid var(--yellow);
    line-height: 1.5;
}
@media (max-width: 767px) {
    .intro {
        font-size: 25px;
        display: flex;
        justify-content: center;
        padding-left: 20px;
    }
}
@media (min-width: 992px) {
    .intro {
        margin-top: 150px;
        margin-right: 200px;
        font-size: 30px;
        max-width: 550px;
        border-left: 2px solid var(--yellow);
        padding-left: 15px;
        line-height: 1.5;
    }
}
.animate__animated {
    animation-delay: 1s;
}
header .introbtn {
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
}
@media (max-width: 991px) {
    header .introbtn {
        bottom: 280px;
    }
}
@media (max-width: 500px) {
    header .introbtn {
    bottom: 500px;
    }
}
.introbtn a {
    text-decoration: none;
    border: 1px solid var(--yellow);
    color: white;
    padding: 10px 35px;
    background-color: var(--yellow);
    border-radius: 30px;
    font-size: 20px;
    opacity: 0.8;
    transition: 0.2s ease;
}
.introbtn a:hover {
    opacity: 1  ;
}
.sidenav {
    position: absolute;
    bottom: 120px;
    right: 30px;
}
.sidenav a {
    display: flex;
    flex-direction: row;
    padding: 8px 0;
}
.vertical {
    display: block;
    border-left: 1px solid white;
    position: absolute;
    height: 107px;
    left: 50%;
    margin-top: 15px;
}
.card {
    position: absolute;
    border: 1px solid white;
    background-color: white;
    padding: 40px 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    right: 400px;
    bottom: -100px;
}
.card-text {
    white-space: nowrap;
    margin-right: 0;
    margin-top: 20px;
    font-weight: 500;
    font-size: 20px;
}
.card img {
    margin-left: auto;
    margin-right: auto;
}
.bag {
    position: absolute;
    border: 1px solid var(--yellow);
    background-color:var(--yellow);
    color: white;
    padding: 30px 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    bottom: -185px;
    right: 140px;
    display: flex;
    flex-direction: column;
}
.bag-text {
    white-space: nowrap;
    margin-top: 20px;
    font-weight: 500;
    font-size: 20px;
}
.bag img {
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 767px) {
    .card {
        bottom: -30px;
        right: 20%;
    }
    .bag {
        bottom: -185px;
        right: 5%;
    }
}
/* start first section  */
.fsec {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    padding-left: 140px;
    padding-right: 140px;
}
@media (max-width: 992px) {
    .fsec {
        margin-top: 200px;
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media (max-width: 767px) {
    .fsec {
        margin-top: 230px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
.fsec-header {
    
    padding-left: 5px;
    color: var(--blue);
    border-left: 3px solid var(--yellow);
    font-size: 25px;
    font-weight: 400;
    line-height: 0.9;
    
}
.fsec-pragraph {
    padding-top: 50px;
    line-height: 2;
    font-size: 18px;
    font-weight: 200;
}
/* end first section  */
/* start second section  */
.secsec {
    margin-top: 60px;
}
.img-container {
    position: relative;
    height: auto;
}
.img2 {
    position: absolute;
    top: 20%;
    right: 10%;
}
.img3 {
    position: absolute;
    bottom: -250px;
    left: -150px;
}
.img4 {
    position: absolute; 
    bottom: -250px;
    right: 80px;
}
@media (max-width: 991px) {
    .first-img {
        max-width: 100%;
    }
    .img-container {
        display: flex;
        justify-content: center;
    }
    .img2 {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .img3 {
        display: none ;
    }
    .img4 img {
        display: none;
    }
}
.sec-content {
    display: block;
    padding-left: 50px;
}
@media (max-width: 991px) {
    .sec-content {
        padding-top: 50px;
        padding-left: 30px;
    }

}
.secsec-header {
    padding-left: 10px;
    color: var(--blue);
    border-left: 3px solid var(--yellow);
    font-size: 25px;
    font-weight: 400;
    line-height: 0.9;
    
}
.secsec-pragraph {
    margin-top: 20px;
    line-height: 2;
    font-size: 18px;
}
.first-list ul {
    margin: 0;
    line-height: 2.5;
    font-size: 18px;
}
@media (max-width: 991px) {
    .first-list ul {
        padding-left: 0;
    }
}
.first-list li {
    list-style-type: none;
    color: #808050;
}
.first-list li:before {
    display: inline-block;
    content: "-";
    padding-left: 15px;
}
.sec-prag {
    font-size: 18px;
    line-height: 2;
    margin-left: -150px;
    margin-right: 30px;
}
@media (max-width: 991px) {
    .sec-prag {
        margin-left: 0;
    }
}
.sec-prag a {
    text-decoration: none;
    color: var(--yellow);
    font-style: italic;
}
/* end second section  */
/* start third section  */
.thirdsec {
    margin-top: 100px;
    background-color: whitesmoke;
    text-align: center;
    padding: 50px;
}
.thirdsec-header {
    color: var(--blue);
    font-weight: 400;
    padding-bottom: 10px;
}
.thirdsec-prag {
    color: var(--blue);
    padding-bottom: 40px;
}
.sec-list ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    
}
.sec-list li {
    padding: 50px 50px;
    border-left: 1px solid lightgray;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 550px) {
    .sec-list li {
        border-left: none;
        padding-bottom: 70px;
    }
}
/* end third section  */
/* start fourth section  */
.forth-sec {
    margin: 60px 200px 60px;
    background-color: var(--blue);
    color: white;
    padding: 30px 40px 60px;
    
}
@media (max-width: 991px) {
    .forth-sec {
        margin-right: 50px;
        margin-left: 50px;
    }
}
@media (max-width: 767px) {
    .forth-sec {
        margin-right: 10px;
        margin-left: 10px;
    }
}
.forth-sec-header {
    font-weight: 400;
    padding-bottom: 10px;
}
.forth-sec-prag {
    line-height: 2;
}
.forth-sec a {
    text-decoration: none;
    color: white;
    background-color: var(--yellow);
    float: right;
    padding: 6px 40px;
    border: 3px solid var(--yellow);
    border-radius: 30px;
    margin-top: -10px;
    transition: 0.2s ease;
}
@media (max-width: 500px) {
    .forth-sec a {
        float: none;
    }
    .forth-sec-prag {
        margin-bottom: 25px;
    }
}
.forth-sec a:hover {
background-color: white;
color: var(--yellow);
}
/* end forth section  */
/* start fifth section  */
.fifth-sec {
    justify-content:space-evenly;
    max-width: 100%;
}
.first-card {
    flex-basis: 400px;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: relative;
}
@media (max-width: 792px) {
    .first-card {
        margin-bottom: 50px;
    }
}
@media (max-width: 500px) {
    .first-card {
        flex-basis: 315px;
    }
}
.first-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.fcard-prag {
    line-height: 1.8;
}
.fcard-prag a {
    text-decoration: none;
    color: var(--yellow);
    font-style: italic;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.fcard-prag a::after{
    content: '\00bb';
    position: absolute;
    opacity: 1;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.fcard-prag a:hover{
    padding-right: 15px;
    opacity: 1;
    right: 0;
}
.fsticky-text {
    background-color: var(--yellow);
    color: white;
    writing-mode: vertical-rl;
    position: absolute;
    left: -40px;
    top: 50px;
    padding: 15px 10px;
    transform: rotate(180deg);
    font-size: 18px;
}
.fcard-img {
    padding: 20px 30px 10px;
    background-color: whitesmoke;
    position: absolute;
    bottom: -40px;
    right: -50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
.second-card {
    flex-basis: 400px;
    padding: 30px;
    line-height: 1.8;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: relative;
}
@media (max-width: 500px) {
    .second-card {
        flex-basis: 315px;
    }
}
.second-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.scard-prag {
    line-height: 1.8;
}
.scard-prag a {
    text-decoration: none;
    color: var(--yellow);
    font-style: italic;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.scard-prag a::after{
    content: '\00bb';
    position: absolute;
    opacity: 1;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.scard-prag a:hover{
    padding-right: 15px;
    opacity: 1;
    right: 0;
}
.ssticky-text {
    background-color: var(--yellow);
    color: white;
    writing-mode: vertical-rl;
    position: absolute;
    left: -40px;
    top: 50px;
    padding: 40px 10px;
    transform: rotate(180deg);
    font-size: 18px;
}
.scard-img {
    padding: 20px 30px 10px;
    background-color: whitesmoke;
    position: absolute;
    bottom: -40px;
    right: -50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
/* end fifth section  */
/* start sixth section  */
.sixth-sec {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sixth-sec .section-container {
    background-color: #d8e8f3;
    padding: 40px 30px;
    line-height: 2.5;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    flex-basis: 75%;
    flex-wrap: wrap;
}
@media (max-width: 991px) {
    .sixth-sec .section-container {
        flex-basis: 95%;
    }
}
.account-btn {
    align-self: flex-end;
}
.account-btn a {
    text-decoration: none;
    color: white;
    background-color: var(--blue);
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 15px;
    letter-spacing: 1.5px;
}
/* end sixh section  */
/* start seventh section  */
.seventh-sec-imgs {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
    overflow: hidden;
}
@media (max-width: 991px) {
    .seventh-sec-imgs {
        flex-wrap: wrap;
    }
}
.seventh-sec-imgs img {
    max-width: 100%;
}
/* end seventh section  */
/* start last section  */
.last-sec {
    text-align: center;
}
.last-sec-header {
    font-size: 25px;
    color: var(--blue);
    padding-bottom: 10px;
}
.last-sec-text {
    padding-bottom: 20px;
}
.email-box {
    margin-bottom: 60px;
}
.email-box input[type=text] {
    width: 50%;
    font-size: 15px;
    padding: 20px;
    background-color: whitesmoke;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
}
@media (max-width: 767px) {
    .email-box input[type=text] {
        width: 70%;
    }
}
@media (max-width: 600px) {
    .email-box input[type=text] {
        width: 90%;
    }
}
.email-box input[type=text]:focus {
    outline: none;
}
/* end last section  */
/* start footer  */
footer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
@media (max-width:616px) {
    footer {
        text-align: center;
    }
}
.footer-col a {
    text-decoration: none;
    color: var(--blue);
    padding-bottom: 10px;
}

.footer-logo {
    padding-bottom: 20px;
}
.footer-text {
    color: var(--blue);
    line-height: 2;
    padding-bottom: 20px;
    font-size: 18px;
}
.footer-social li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}
.footer-col {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
@media (min-width: 1200px) {
.item4 {
    grid-column: -4 / -3;
    }
.item5 {
    grid-column: -2 / -1;
}
}
.right-footer {
    padding-top: 20px;
}
.right-footer h4 {
    color: #10456a;
    padding-bottom: 10px;
}
/* end footer  */